html,
body,
#root {
  font-family: 'Montserrat', sans-serif;
  padding:0;
  margin:0;
  height: 100svh;
  width: 100%;
}
/* .slide-modal {
 display: 'flex';
 justify-content: center;
 align-items: center;
} */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  transform-origin: bottom;
  outline: 1px solid red;
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  transform-origin: top;
}

.btn-cta {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 10px 12px;
  background: #ffea2f;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 2rem;
  cursor: pointer;
}